
<!-- This layout file is the template made for each plant display pages. -->
<!DOCTYPE html>

<html>
<!-- Title and Description for this page -->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> <!-- Customise the title with the one from each plant page -->

    <!-- Header Files, css file references -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template_page/")css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template_page/")css/templatemo-style.css">
    
</head>
<body>

    <!-- Banner and navigator for the page -->
    <div class="fixed-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Customise Plant Name shown on Banner -->
                <a class="navbar-brand">@ViewBag.Title</a>
            </div>
            <!-- Navigator menu for the page-->
            <nav class="main-menu">
                <ul>
                    <li><a href="#home">Home</a></li> <!-- Home(top) Part in the page -->
                    <li><a href="#identify">Identify</a></li> <!-- Identify Part in the page-->
                    <li><a href="#control">Control</a></li> <!-- Control Part in the page-->
                    <li><a href="#contact">Contact Us</a></li> <!-- Contact Part in the page-->
                </ul>
            </nav>
        </div>
    </div>

    <!-- Main components in the page  -->
    <div class="container">
        <!-- every cshtml using this layout will customise contents here  -->       
        <div>
            @RenderBody()
        </div>

        <!-- footer for the page/ back to home page link -->
        <footer class="col-md-12 content" id="externals">
            <div class="col-lg-6 col-md-6 last">
                <img src="@Url.Content("~/Content/template_page/")images/5.png" alt="Image" class="tm-image">
            </div>
            <div class="col-lg-6 col-md-6 background last about-text-container">
                <h2 class="section-title">Click @Html.ActionLink("here", "Index", "Home") To Home Page</h2>
                <p class="about-text"></p>
            </div>
        </footer>
    </div>

    <!-- copyright for this page -->
    <div class="text-center footer">
        <div class="container">
            Copyright 2017 T.A.R.S. | Design: T.A.R.S.
        </div>
    </div>

    <!-- script files imported -->
    <script src="@Url.Content("~/Content/template_page/")js/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/template_page/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/template_page/")js/jquery.singlePageNav.min.js"></script>

    <!-- script for fixed-header function -->
    <script>
        // Check scroll position and add/remove background to navbar
        function checkScrollPosition() {
            if ($(window).scrollTop() > 50) {
                $(".fixed-header").addClass("scroll");
            } else {
                $(".fixed-header").removeClass("scroll");
            }
        }

        $(document).ready(function () {
            // Single page navigation
            $('.fixed-header').singlePageNav({
                offset: 59,
                filter: ':not(.external)',
                updateHash: true
            });

            checkScrollPosition();

            // navigation bar
            $('.navbar-toggle').click(function () {
                $('.main-menu').toggleClass('show');
            });

            $('.main-menu a').click(function () {
                $('.main-menu').removeClass('show');
            });
        });

        $(window).on("scroll", function () {
            checkScrollPosition();
        });
    </script>
    
</body>
</html>
