
<!-- This is the template for the Index page. And maybe for sub-home pages later. -->
<!DOCTYPE html>

<html>
<!-- Title and Description for this webstie -->
<head>  
        
    <!-- Template Hearder files -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Green Weed - Get Invasive Plant Out!</title> 

    <!-- Define description/viewport/author/keywords for this website -->
    <meta name="description" content="A great website about getting invasive plants out. Designed by T.A.R.S.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="T.A.R.S.">
    <meta name="keywords" content="invasive plant, invasive, green, green weed, biodiversity">

    <!-- CSS, Normalize First, minify for production, using the master.css covering all less/css files -->
    <link rel="stylesheet" type='text/css' href="@Url.Content("~/Content/mytemplate/")less/master.css" />

    <!-- Import web fonts using the link tag instead of CSS -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Header for Home Page (website name and slogen) -->
    <header id="main-header">
        <div class="container">
            <h1>GreenWeed</h1>
            <p>Get The Invasive Plant Out!</p>    
        </div>
    </header>

    <!-- every cshtml using this layout will customise contents here  -->
    <div>
        @RenderBody()
    </div>

    <!-- Footer for Home Page (website copyright)-->
    <footer>
        <div class="container">            
            <div id="footer-text" class="small">
                <p>&copy; GREENWEED | Design by T.A.R.S. | Copyright 2017</p>
            </div>
        </div>
    </footer>

    <!-- Reference jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

    <!-- Reference Javascript, minify for production -->
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery.event.move.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/unslider.js"></script>

</body>
</html>
