
<!-- This is the template for the Index page. And maybe for sub-home pages later. -->
<!DOCTYPE html>

<html>
<!-- Title and Description for this webstie -->
<head>  
        
    <!-- Template Hearder files -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Green Tracker - Get Invasive Plant Out!</title> 

    <!-- Define description/viewport/author/keywords for this website -->
    <meta name="description" content="A great website about getting invasive plants out. Designed by T.A.R.S.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="T.A.R.S.">
    <meta name="keywords" content="invasive plant, invasive, green, green weed, biodiversity">

    <!-- CSS, Normalize First, minify for production, using the master.css covering all less/css files -->
    <link rel="stylesheet" type='text/css' href="@Url.Content("~/Content/mytemplate/")less/master.css" />

    <!-- Import web fonts using the link tag instead of CSS -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Header for Home Page (website name and slogen) -->
    <header id="main-header">
        <div class="container1"> <h4>Green Tracker</h4>  </div> 
        <div class="container2">
            <div class="topnav">
                <a class="active" href="#Home">Home</a>               
                <a href="#explore">Explore</a>
                <a href="#introduction">About Us</a>
                <a href="#summary">More</a>
            </div>
        </div>
            <div class="container">
                <h2 class="uc">
                    <img src="~/Content/mytemplate/images/stop1.png" />
                    STOP THE SPREAD OF <br />&nbsp; &nbsp; &nbsp; INVASIVE PLANTS!
                </h2>
            </div>
        <div class="container3"><h5>◆ Australia has many introduced invasive plants.<br />
                                <br />◆ These invasive plants spread rapidly damaging the 
                                    <br />&nbsp;&nbsp;&nbsp;&nbsp;environment
                                    and threatening the existence of native plants. <br />
                                 <br />◆ The website, “Green Weeds”, will assist farmers by providing 
                                      <br />&nbsp;&nbsp;&nbsp;&nbsp;information 
                                     and current sighting of invasive plants.</h5></div>
    </header>

    <!-- every cshtml using this layout will customise contents here  -->
    <div>
        @RenderBody()
    </div>

    <!-- Footer for Home Page (website copyright)-->
    <footer>
        <div class="container">            
            <div id="footer-text" class="small">
                <p>&copy; GREENWEED | Design by T.A.R.S. | Copyright 2017</p>
            </div>
        </div>
    </footer>

    <!-- Reference jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

    <!-- Reference Javascript, minify for production -->
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery.event.move.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/unslider.js"></script>

</body>
</html>
