<!-- ***This is the Index(Home) page of the whole website, users would be connected to this page every time
    he/she opens our website, this page contains all the information about our website, the design, description,
    authors, copyright, title, declartion. And this page would provide the clear functionalities navigation
    for the users, as well as the instruction about how to use this website.
    This page is using  _mytemplate.cshtml as the layout(tempalte) file.***-->


@{
    ViewBag.Title = "Green Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- The navigation bar/banner of the Home Page -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img class="evergreen" src="~/css/images/backgroud.jpeg" />
            <div class="container" style=" margin-top: -2%;">
                <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.36);">
                    <img class="stop" src="~/css/images/stop1.png" />
                    <h1 style="font-weight:bold;">PUT A STOP TO INVASIVE PLANTS!</h1>
                    <p style="font-weight:bold;">
                        ◆ Australia is home to an abundance of invasive plants.<br />
                        ◆ Invasive plants spread rapidly causing damage to the environment.<br />
                        ◆ Green Tracker will assist in providing sightings and information of these plants.
                        <br />
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>


 <!-- ***This section is providing the function about search invasive plants on map by postcode/address.***-->
<div class="container" style="margin-top: -1%;">
    <div class="col-md-6 col-md-offset-3">
        <form role="form">
            <div class="row">
                <h1 class="text-center">Search Your Area</h1>
                <div class="form-group">
                    <div class="input-group">
                        <input id="input1" class="form-control" type="text" name="search" placeholder="Latitude" style="visibility: hidden; height: 0px" />
                        <input id="input" class="form-control" type="text" name="search" placeholder="Address or Postcode" onkeypress="clickPress(event)" />
                        <input id="input2" class="form-control" type="text" name="search" placeholder="Longitude" style="visibility: hidden; height: 0px" />
                        <span class="input-group-btn">
                            <button id="passvalue" class="btn btn-success" type="button">
                                <span style="margin-left: 10px;">Search</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- ***Main Functions Section, introduce the three major function provided by this website*** -->
<section id="three-images">
    <div class="container">
        <article class="cf">
              <!-- ***link to plants library function*** -->
            <div class="img-circle-div">
                <a href="@Url.Action("Library", "Home")">
                    <img style=" width: 200px;" src="~/css/images/plants/perenial%20ragweed4.jpg" />
                    <h3 >LEARNING</h3>
                    <p style="font-size: 18px; ">Find Invasive Plant! </p>
                    <!--<p style="font-size: 18px;">Have a look at it!</p>-->
                </a>

            </div><!-- ***link to Map function*** -->
            <div class="img-circle-div">
                <a href="@Url.Action("TestResult", "Occurrences")" >
                    <img style=" width: 200px;" src="~/css/images/plants/tangled_hypericum2.jpg" />
                    <h3 >EXPLORING</h3>
                    <p style="font-size: 18px; ">Invasive Plants Near You! </p>
                </a>
             </div>
                   
            <!-- ***link to  report function*** -->
            <div class="img-circle-div">
                <a href="@Url.Action("Report", "Home")" >
                    <img style=" width: 200px;" src="~/css/images/plants/camel_img1.jpg" />
                    <h3 >REPORTING</h3>
                    <p style="font-size: 18px; ">Report An Invasive Plant! </p>
                </a>
            </div>
            <!-- ***link to upcoming community(group-sharing) function(iteration 3)*** -->
            <div class="img-circle-div">
                <a href="@Url.Action("ViewReport", "Home")">
                    <img style=" width: 200px;" src="~/css/images/plants/wh-flowers-web-300.jpg" />
                    <h3>SIGHTINGS</h3>
                    <p style="font-size:18px">Invasive Plants Found!</p>
                </a>
             </div>
           
        </article>
    </div>
</section>


<!-- scripts of  function -->
<script>
    //this function achieved when search button clicked
    function clickPress(event) {
        //when enter press, achieve search button click instead of default function
        if (event.keyCode == 13) {
            $('#passvalue').focus().click();
            event.preventDefault();
        }
    }
    //pass then entered value to anther page
    document.getElementById("passvalue").onclick = function () {
        window.open("@Url.Action("TestResult", "Occurrences")", '_blank');
    }

    //this function get the autocomplete function from google map API
    function initMap() {
        localStorage.setItem("storageLat", 'null');
        localStorage.setItem("storageLng", 'null');
        var input = document.getElementById('input');
        //constraint search address to Australia
        var options = {
            componentRestrictions: { country: 'au' }
        };

        (function pacSelectFirst(input) {
            // store the original event binding function
            var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;

            function addEventListenerWrapper(type, listener) {
                // Simulate a 'down arrow' keypress on hitting 'return' when no pac suggestion is selected,
                // and then trigger the original listener.
                if (type == "keydown") {
                    var orig_listener = listener;
                    listener = function (event) {
                        var suggestion_selected = $(".pac-item-selected").length > 0;
                        if (event.which == 13 && !suggestion_selected) {
                            var simulated_downarrow = $.Event("keydown", {
                                keyCode: 40,
                                which: 40
                            });
                            orig_listener.apply(input, [simulated_downarrow]);
                        }

                        orig_listener.apply(input, [event]);
                    };
                }

                _addEventListener.apply(input, [type, listener]);
            }

            input.addEventListener = addEventListenerWrapper;
            input.attachEvent = addEventListenerWrapper;

           var autocomplete = new google.maps.places.Autocomplete(input, options);
        //get the address and save them to local storage
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('input1').value = place.geometry.location.lat();
            document.getElementById('input2').value = place.geometry.location.lng();
            localStorage.setItem("storageLat", document.getElementById('input1').value);
            localStorage.setItem("storageLng", document.getElementById('input2').value);

        });
        })(input);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB81OVqjvjWfuuaSkxjn5P95qkJfDT-u9g&libraries=places&callback=initMap" async defer></script>

