<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />



    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/carousel.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <style>
        .navbar ul {
            display: none;
            list-style: none;
        }

         .navbar ul li {
            margin: 0;
            padding-left: 0;
            list-style: none;
        }

        .navbar li:hover > ul {
            margin: 0;
            padding-left: 15px;
            list-style: none;
            display: block;
        }
    </style>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                           @Html.ActionLink("Green Tracker", "Index", "Home", new object { }, new { @class = "navbar-brand" })
                           </div>
                      <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" style="display:block">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")
                            
                            </li>
                            <li>@Html.ActionLink("Explore", "TestResult", "Occurrences", new { },null)</li>
                            <li>@Html.ActionLink("Library", "Library", "Home")</li>
                            <li>
                                @Html.ActionLink("Report", "Report", "Home")
                                <ul >
                                    <li >@Html.ActionLink("Report", "Report", "Home",null, new { @style = "color:white" })</li>
                                    <li>@Html.ActionLink("View Reports", "ViewReport", "Home", null, new { @style = "color:white" })</li>                                 
                                </ul>
                            </li>
                            <li>@Html.ActionLink("More", "externalLink", "Home")
                                <ul >
                                <li>
                                     @Html.ActionLink("External Resource", "externalLink", "Home", null, new { @style = "color:white" })
                                   </li>
                                    <li>
                                        @Html.ActionLink("About Us", "AboutUs", "Home", null, new { @style = "color:white" })
                                    </li>   
                                
                                    
                                </ul></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
        @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>

    <div class="container marketing">

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; GreenTracker 2017 T.A.R.S., Inc. </p>
        </footer>

    </div><!-- /.container -->
</body>
</html>